@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&family=Ubuntu:wght@300&display=swap');


body{
    background-color: #f4e8c1;
    color: black;
    font-family:  'Ubuntu', sans-serif;
    
}

.sidebar{
    background-color: #70a0af;
    text-transform: uppercase;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.socialmedia{
    font-size: 18px;
    position: fixed;
    transform: rotate(0.25turn);
    white-space: nowrap;
}

.icon{
    width: 25px;
}

.section{
    height: 90vh;
}

.section1{
    display: flex;
    flex-wrap: nowrap;
}

.section h1{
    font-size: 68px;
    font-family: 'Alegreya Sans', sans-serif;
}

.section2{
    background-color: #70a0af;
}

.section3{
    background-color: #706993;
}

.maintext{
    width: 40vw;
    padding: 180px 0px 0px 120px;
}

.barra{
    background: rgba(255,255,255,0.3);
    text-transform: uppercase;
    padding-left: 50px;
}

#laptop{
    margin-top: 100px;
    margin-left: -200px;
    width: 1000px;
}


#planta1{
    width: 180px;
    top: -200px;
    left: -240px;
    position: relative;
    z-index: -1; 
}

#planta1:hover{
    transform: rotate(25deg);
}
